{
    "singleQuote": true,   
    "trailingComma": "all",      
    "printWidth": 90,            
    "tabWidth": 4,               
    "bracketSameLine": true,     
    "semi": false,               
    "arrowParens": "always"      
}

